<div class="period-table-header">
  <div class="period-year">
    {{ this.period.date.toString() }}
  </div>
</div>

<table class="table period-table">
  <tbody mwlDroppable
    [ngClass]="{
      'draggable': draggable === true,
      'not-draggable': draggable === false
    }"
    (drop)="onDrop($event)"
    (dragEnter)="onDragEnter($event)"
    (dragLeave)="onDragLeave($event)">
    <tr *ngIf="!period.length">
      <td>Arraste sua matéria aqui</td>
    </tr>

    <tr *ngFor="let mat of period">
      <td style="width: 50px">{{ mat.period }}</td>
      <td>{{ mat.name }}</td>
    </tr>
  </tbody>
</table>

