.period-table-header {
  background-color: #EEE;
  border: 1px solid #AAA;
  height: 40px;
  padding-right: 30px;
  justify-content: flex-end;
  display: flex;

  div {
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
    background: #009688;
    margin-top: -10px;
    height: 50px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
  }
}

.period-table {
  border: 1px solid #CCC;
  margin-bottom: 50px;

  .draggable {
    border: 1px solid green;
  }
}
