.period-table-header {
  background-color: #EEE;
  border: 1px solid #AAA;
  height: 50px;
  padding-right: 30px;
  justify-content: flex-end;
  display: flex;
  -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);

  div {
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
    background: #009688;
    margin-top: -10px;
    height: 60px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
  }
}
