<div class="period-table-header">
  <button
    class="btn"
    (click)="this.periodList.subSemester(this.period)">
    <fa name="minus"></fa>
  </button>
  <div class="period-year">
    {{ this.period.date.toString() }}
  </div>
  <button
    class="btn"
    (click)="this.periodList.addSemester(this.period)">
    <fa name="plus"></fa>
</button>
</div>

<table class="table period-table">
  <tbody mwlDroppable
    [ngClass]="{
      'droppable': droppable === true,
      'not-droppable': droppable === false
    }"
    (drop)="onDrop($event)"
    (dragEnter)="onDragEnter($event)"
    (dragLeave)="onDragLeave($event)">
    <tr *ngIf="!period.length">
      <td>Arraste sua matéria aqui</td>
    </tr>

    <tr *ngFor="let mat of period">
      <td style="width: 50px">{{ mat.period }}</td>
      <td>{{ mat.name }}</td>
      <td class="actions">
        <fa name="trash" class="remove" (click)="onRemove(mat)"></fa>
      </td>
    </tr>
  </tbody>
</table>

