@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic);

$fa-font-path: "font-awesome/fonts";
@import 'font-awesome/scss/font-awesome.scss';

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include scrollbars(.5em, #d9d9d9, rgba(0,0,0,0));

@import './variables';
@import './mixins';

fa {
  color: #777;
}

.tooltip {
  .tooltip-inner {
    color: black;
    background: white;
    border: 1px solid #777
  }
}
