<div class="materias-container">
  <mat-list>
    <div *ngFor="let period of materiaList.groupByPeriod(); trackBy: trackBy">
      <p matSubheader>{{ period.periods }}º Período</p>
      <mat-list-item class="row"
        *ngFor="let mat of period"
        dragActiveClass="ghost-drag"
        mwlDraggable [dropData]="mat" [validateDrag]="validateDrag"
        (dragStart)="this.dragStart.emit(null); preventScroll = true">
        <fa name="bars" class="col-lg-1 col-2 d-none d-sm-block"></fa>
        <span class="col-lg-10 col-9">{{ mat.name }}</span>

        <ng-template #requireds>
          <div *ngIf="mat.parents.length">
            <span>Pré-requisitos:</span><br>
            <div *ngFor="let req of mat.parents">{{ req.name }}<br></div>
          </div>
          <div *ngIf="mat.children.length">
            <span>Pós-requisitos:</span><br>
            <div *ngFor="let req of mat.children">{{ req.name }}<br></div>
          </div>
        </ng-template>

        <div class="col-lg-1 col-2 text-center"
          container="body" placement="right" #tip="ngbTooltip"
          [ngbTooltip]="requireds" triggers="manual"
          (mouseover)="mouseEvent('over', tip, mat)"
          (mouseleave)="mouseEvent('leave', tip, mat)"
          *ngIf="mat.parents.length || mat.children.length">

          <fa name="circle"></fa>
        </div>
      </mat-list-item>
    </div>
  </mat-list>
</div>
