.materias-container {
  position: -webkit-sticky;
  position:    -moz-sticky;
  position:     -ms-sticky;
  position:      -o-sticky;
  position:         sticky;

  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  top: 0;
}

.ghost-drag {
  background: white;
}
