<div class="materias-container">
  <table class="table materias-table">
    <thead>
      <tr>
        <th></th>
        <th>Período</th>
        <th>Disciplinas</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mat of materiaList; let i = index"
          mwlDraggable [dropData]="mat"
          [ngClass]="{ 'period-row': parsePeriod(i, mat) }">
        <td><fa name="bars"></fa></td>
        <td>{{ parsePeriod(i, mat) }}</td>
        <td>{{ mat.name }}</td>
        <td class="actions">
          <fa name="list" (mouseover)="preHover($event)"></fa>
        </td>
      </tr>
    </tbody>
  </table>
</div>
