.materias-container {
  position: -webkit-sticky;
  position:    -moz-sticky;
  position:     -ms-sticky;
  position:      -o-sticky;
  position:         sticky;

  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  top: 0;

  fa {
    color: #777;
  }

  @media screen and (max-width: 500px) {
    .mat-list {
      min-width: 90.625vw;
    }
  }
}

.ghost-drag {
  background: white;
  border: 1px solid #CCC;
  z-index: 100;
}
