@import '~src/sass/variables';

.product-info {
  padding: 24px;
  text-align: center;
}

.dropzone{
  width: 500px;
  height: 100px;
  margin: 20px auto;
  border-radius: 20px;
  border: dashed 5px gray;
  background-color: rgb(230, 230, 230);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &.dragover {
    background-color: lighten($color: $link-color, $amount: 30);
  }
}
