<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom">
  <div class="container">
    <a class="navbar-brand text-success font-weight-bold" href="#">Blackboard</a>
    <button class="navbar-toggler hidden-lg-up" type="button"
      data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <fa name="bars"></fa>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todas as Ferramentas</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#">Action 1</a>
            <a class="dropdown-item" href="#">Action 2</a>
          </div>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
    </div>
  </div>
</nav>

<div class="container">
  <div class="product-info">
    <h1>Organize sua Grade</h1>
    <h2>Organize a sua grade escolar e sua dependência de matérias</h2>
  </div>

  <!-- DropZone -->
  <div *ngIf="!materiaList"
    ngxFilequake class="dropzone"
    [zoneonly]="true" [canclick]="true"
    dialogaccept=".csv" (filesChanged)="onUpload($event)">
    Clique ou arraste seu template de matérias
  </div>

  <!-- Main Program -->
  <div *ngIf="materiaList" class="row">
    <div class="col-12 col-sm-6">
      <app-period-table
        *ngFor="let period of periodList"
        [period]="period" [periodList]="periodList">
      </app-period-table>
    </div>
    <app-materias-table
      [materiaList]="materiaList"
      class="col-6 d-none d-sm-block">
    </app-materias-table>
  </div>
</div>

<app-sidebar></app-sidebar>
