.sidebar {
  position: fixed;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  width: 20px;
  bottom: 0;
  right: 0;
  top: 0;

  transition: width 0.2s ease-out;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  .sidebar-action {
    display: flex;
    width: 20px;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
}
